/*color palette https://colorhunt.co/palette/0306373c0753720455910a67*/

:root {
  --background-dark: #1c1c1e;
  --background-darker: #151517;
  --secondary-color: #ffffff;
  --container-grey: #242426;
  --container-light-grey: #525252;
  --accent-color: #de3a3c;
}

body {
  background-color: var(--background-darker);
}

html {
  min-height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.footer {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--background-darker),
    var(--container-grey)
  );
  padding: 6rem 4rem 2rem 4rem;
  margin-top: 4rem;
  width: 100%;
}

.footer > i {
  color: var(--accent-color);
}

.routes-container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0.5rem 2rem 0.5rem;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  text-align: center;
  padding-bottom: 5%;
  font-size: 250%;
  color: var(--secondary-color);
}

.sub-header {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: var(--secondary-color);
}

.sub-header > a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: 'Poppins', Times, serif;
}
