/* * {
  margin: 0;
  padding: 0;
} */

html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  --main-color: black;
  --secondary-color: grey;
  --contrast-color: #ffffff;
  --accent-color: orange;
  --error-color: rgb(255, 132, 132);
  --success-color: rgb(113, 255, 113);
  height: 100%;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transform: translateY(-4rem);
  padding-top: 4rem;
}

.footer {
  text-align: center;
  background-color: var(--main-color);
  padding: 4rem;
  margin-top: 4rem;
  width: 100%;
}

.footer > i {
  color: white;
}
