.formViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.formContainer {
  width: 25rem;
  margin-bottom: 1rem;
}

.formHeader {
  background-color: rgb(239, 239, 239);
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  border-radius: 15px 15px 0px 0px;
  border-top: 3px solid rgb(239, 239, 239);
  border-right: 3px solid rgb(239, 239, 239);
  border-left: 3px solid rgb(239, 239, 239);
}

.formHeader > h2 {
  color: rgb(4, 4, 4);
  text-transform: uppercase;
  text-align: center;
}

.formBody {
  /* border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color); */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  background-color: rgb(239, 239, 239);
  border-radius: 0px 0px 15px 15px;
  border-bottom: 0px solid rgb(47, 158, 118);
  border-right: 0px solid rgb(47, 158, 118);
  border-left: 0px solid rgb(47, 158, 118);
}

.formContainer form {
  display: flex;
  flex-direction: column;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fieldContainer > input {
  border: 0.7px solid rgb(166, 166, 166);
  border-radius: 5px;
  padding: 0.5rem;
}

.fieldContainer > input:focus {
  outline: none;
  /* background-color: var(--accent-color); */
}

.fieldContainer > label {
  color: #000000;
  margin-bottom: 2px;
}

.fieldError {
  color: #f40004;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.checkboxContainer > label {
  color: #666666;
}

.termsOfUseCheckboxContainer {
  width: 0;
  height: 0;
  display: flex;
  flex-direction: row;
  margin-left: 300rem;
}

.termsOfUseCheckboxContainer > label {
  margin-left: 300rem;
  width: 0;
  height: 0;
  color: #666666;
}

.formContainer button {
  background-color: #1d1c40;
  color: var(--contrast-color);
  text-shadow: 0.5px 0px 7px rgba(0, 0, 0, 0.35);
  padding: 0.5rem;
  font-size: x-large;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 1rem;
  border-radius: 10px 10px 10px 10px;
  border: 0px;
}

/* Small mobile devices */
@media only screen and (max-width: 520px) {
  .formViewContainer {
    padding: 1rem;
    padding-top: 0;
  }
  .formContainer {
    width: 100%;
    margin-bottom: 1rem;
  }
}
