/* Small mobile devices */
@media only screen and (max-width: 310px) and (min-width: 0px) {
  .home-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 98%;
  }
  /* .boxContainer {
    margin-left: 8%;
    margin-right: 8%;
  } */
  .infoText {
    font-size: 110%;
  }
  .highlightedText {
    font-size: 135%;
  }
  .mainText {
    font-size: 110%;
  }
  .header {
    font-size: 150%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 768px) and (min-width: 311px) {
  .home-container {
    margin-left: 0%;
    margin-right: 0%;
    width: 90%;
  }
}

/* Tablet devices */
@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .homeContainer {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* Non-mobile devices */
@media only screen and (min-width: 1281px) {
}

/* unvisited link */
a {
  color: var(--secondary-color);
}

/* visited link 
a:visited {
  color: var(--container-light-grey);
} */

/* mouse over link */
a:hover {
  color: var(--accent-color);
}

/* selected link */
a:active {
  filter: brightness(80%);
}

.horizontal-line {
  height: 0.3rem;
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  background-color: var(--container-light-grey);
}

.home-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home-list-item > .arrow-right {
  margin-right: 1rem;
}

.home-list-item > a {
  font-size: larger;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 20px solid var(--accent-color);
}
