/* Small mobile devices */
@media only screen and (max-width: 310px) and (min-width: 0px) {
  .home-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 98%;
  }
  /* .boxContainer {
    margin-left: 8%;
    margin-right: 8%;
  } */
  .infoText {
    font-size: 110%;
  }
  .highlightedText {
    font-size: 135%;
  }
  .mainText {
    font-size: 110%;
  }
  .header {
    font-size: 150%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 768px) and (min-width: 311px) {
  .home-container {
    margin-left: 0%;
    margin-right: 0%;
    width: 90%;
  }
}

/* Tablet devices */
@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .homeContainer {
    margin-left: 25%;
    margin-right: 25%;
  }

  .header {
    margin-top: -1rem;
  }
}

/* Non-mobile devices */
@media only screen and (min-width: 1281px) {
  .header {
    margin-top: -4rem;
  }
}

/* unvisited link */
a {
  color: var(--secondary-color);
}

/* visited link 
a:visited {
  color: var(--container-light-grey);
} */

/* mouse over link */
a:hover {
  color: var(--accent-color);
}

/* selected link */
a:active {
  filter: brightness(80%);
}
