.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer > * {
  padding: 1rem;
}

.subHeader > a {
  text-decoration: none;
  color: var(--secondary-color);
}

.middleButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 15rem;
  height: 15rem;
  background-color: var(--main-color);
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 12px #999;
}

.middleButtonText {
  color: var(--contrast-color);
  text-align: center;
}

.bottomText > a {
  text-decoration: none;
  color: var(--secondary-color);
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .middleButton:active {
    opacity: 0.8;
    box-shadow: 0 8px #666;
    transform: translateY(4px);
  }
}

/* Non-mobile devices */
@media only screen and (min-width: 769px) {
  .middleButton:hover {
    opacity: 0.8;
  }

  .middleButton:active {
    box-shadow: 0 8px #666;
    transform: translateY(4px);
  }
}
