.NavBar {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  height: 4rem;
}

.NavBarItemsContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.NavBarItem {
  padding: 1rem;
  color: var(--contrast-color);
  text-decoration-line: none;
}

.logo {
  height: 4rem;
}

@media only screen and (max-width: 768px) {
  .NavBarItemsContainer {
    display: none;
  }
}
