.NavBar {
  /* background-color: var(--secondary-color); */
  position: -webkit-sticky;
  position: sticky;
  flex-shrink: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  line-height: 2.5rem;
}

.NavBarItemsContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-transform: uppercase;
  padding-right: 3rem;
}

.NavBarItem {
  padding: 1rem;
  color: var(--secondary-color);
  text-decoration-line: none;
}

.NavBarItem:hover {
  color: var(--accent-color);
}

.logo {
  /* display: none; */
  height: 80%;
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .NavBarItemsContainer {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .hamburger-menu-button {
    display: none;
  }
}

.hamburger-menu-button {
  height: 100%;
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
}

.bar {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.bar .middle {
  position: relative;
  height: 4px;
  width: 55px;
  background: var(--secondary-color);
  border-radius: 50px;
  transition: 0.3s ease;
}

.bar .top {
  position: relative;
  height: 4px;
  width: 55px;
  background: var(--secondary-color);
  border-radius: 50px;
  transition: 0.3s ease;
}

.bar .bottom {
  position: relative;
  height: 4px;
  width: 55px;
  background: var(--secondary-color);
  border-radius: 50px;
  transition: 0.3s ease;
}

.hamburger-menu-button.checked .bar .top {
  transform: rotate(-45deg);
  transform-origin: right;
  width: 45px;
  top: -3px;
}

.hamburger-menu-button.checked .bar .bottom {
  transform: rotate(45deg);
  transform-origin: right;
  width: 45px;
  top: 3px;
}

.hamburger-menu-button.checked .bar .middle {
  transform: translateX(5px);
  opacity: 0;
}
