.practiceContainer {
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
}

.chosenItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosenCourseAndPartTable {
  font-size: xx-large;
  margin: 1rem;
}

.chosenCourseAndPartTable .description {
  border-right: 1px solid;
  padding-right: 1em;
}

.chosenCourseAndPartTable .chosenItem {
  padding-left: 1em;
}

/* Smaller desktop devices */
@media only screen and (max-width: 1300px) {
  .practiceContainer {
    margin-top: 2rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* Even smaller desktop devices */
@media only screen and (max-width: 1000px) {
  .practiceContainer {
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .practiceContainer {
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .middleButton {
    width: 10rem;
    height: 10rem;
  }

  .chosenCourseAndPartTable {
    font-size: large;
  }
}
