.practice2Container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20% 0 20%;
  line-height: 2.3rem;
  overflow: scroll;
}

.practice2Container > h4 {
  text-align: center;
  padding: 0 20% 0 20%;
  line-height: 2.3rem;
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .practice2Container {
    padding: 0 5% 0 5%;
  }
}
