.row {
  font-size: 14px;
  cursor: pointer;
  padding: 2px 0;
  display: flex;
  align-items: flex-end;
  color: #444;
}

.row .text {
  padding-left: 5px;
}

.row.level-0 {
  padding-left: 0;
}

.row.level-1 {
  padding-left: 20px;
}

.row.level-2 {
  padding-left: 40px;
}

.row.level-3 {
  padding-left: 60px;
}

.row.level-4 {
  padding-left: 80px;
}

.folder {
  color: #2185d0;
}

.folderOpen {
  color: #2185d0;
}

.file {
  margin-left: 21px;
  color: #222;
}

.chevron {
  transition: transform 0.1s linear !important;
  height: 20px;
}
.chevron.rotated {
  transform: rotate(90deg);
}
.children {
  overflow: hidden;
  transition: height 0.2s ease-in;
}
.children.collapsed {
  height: 0;
}
